default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  timeout: 5000

development:
  <<: *default
  database: trivia_night_development
  username: rails
  password: ruby

test:
  <<: *default
  database: trivia_night_test
  username: rails
  password: ruby

production:
  <<: *default
  database_url: ENV["DATABASE_URL"]
  username:     ENV["DATABASE_USERNAME"]
  password:     ENV["DATABASE_PASSWORD"]